<script>
    document.addEventListener("DOMContentLoaded", function () {
        const cookieBanner = document.getElementById('cookie-banner');
        const acceptButton = document.getElementById('accept-cookies');

        function hideBanner() {
            cookieBanner.style.display = 'none';
            // Store consent preference
            localStorage.setItem('cookieConsent', 'true');
        }

        acceptButton.addEventListener('click', hideBanner);
    });

    // Show the banner on page load
    window.onload = () => {
        if (!localStorage.getItem('cookieConsent')) {
        cookieBanner.style.display = 'block';
      }
    };
</script>

<div id="cookie-banner">
    <p>To provide a personalized and efficient visit, we collect anonymous data about your interactions, such as <b>page views</b>, <b>scrolling behavior</b>, and <b>outbound clicks</b>. This information helps us improve our website's layout, content, and overall usability.</p>
    <br>
    <p><b><i>Rest assured, we do not track any personal information. It's safe to accept cookies and continue exploring our site.</i></b></p>
    <button id="accept-cookies" type="button">Accept</button>
</div>
