<script>
    document.addEventListener("DOMContentLoaded", function () {
        const cookieBanner = document.getElementById('cookie-banner');
        const acceptButton = document.getElementById('accept-cookies');

        if (localStorage.getItem('cookie_consent') === 'true') {
            if (typeof gtag === 'function') {
                gtag('consent', 'update', {
                    'ad_storage': 'denied',
                    'ad_user_data': 'denied',
                    'ad_personalization': 'denied',
                    'analytics_storage': 'granted'
                });
            }
        } else {
            cookieBanner.style.display = 'block';

            function hideBanner() {
                cookieBanner.classList.add('hide');
                setTimeout(() => {
                    cookieBanner.style.display = 'none';
                }, 400);
                // Store consent preference
                localStorage.setItem('cookie_consent', 'true');
                // Update Google Analytics consent
                if (typeof gtag === 'function') {
                    gtag('consent', 'update', {
                        'ad_storage': 'denied',
                        'ad_user_data': 'denied',
                        'ad_personalization': 'denied',
                        'analytics_storage': 'granted'
                    });
                }
            }
            acceptButton.addEventListener('click', hideBanner);
        }
    });
</script>

<div id="cookie-banner">
    <p>To provide a personalized and efficient visit, this website collects anonymous data about your interactions, such as <b>page views</b>, <b>scrolling behavior</b>, and <b>outbound clicks</b>. This information helps improve the website's layout, content, and overall usability.</p>
    <br>
    <p><b><i>Rest assured, we do not track any personal information. It's safe to accept cookies and continue exploring the site.</i></b></p>
    <button id="accept-cookies" type="button">Accept</button>
</div>
