---
layout: default
---
<script src="/assets/script.js"></script>
<script src="https://giscus.app/client.js"
        data-repo="bp7968h/bp7968h.github.io"
        data-repo-id="R_kgDOLTnpRw"
        data-category="General"
        data-category-id="DIC_kwDOLTnpR84CjwUg"
        data-mapping="title"
        data-strict="1"
        data-reactions-enabled="1"
        data-emit-metadata="0"
        data-input-position="top"
        data-theme="dark_dimmed"
        data-lang="en"
        data-loading="lazy"
        crossorigin="anonymous"
        async>
</script>

<div class="back-link">
  <a href="{{ '/' | relative_url }}">&lt;= Back</a>
</div>

<article class="blogpost">
  <h2>{{page.title}}</h2>
  <small>{{ page.date | date: "%-d %B %Y" }}</small>
  {{ content }}
</article>

<div class="giscus">
  
</div>
<div class="to-top" id="toTop">
  <a href="#">&uarr; To Top</a>
</div>
